{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "no-unused-vars": 0,
    "no-undef": 0,
    "react/prop-types": 0
  }
}
